html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Personal resets */
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.align-start {
    display: flex;
    align-items: flex-start;
}
.flex-20 {
    flex: 0 1 23%;
}
.flex-30 {
    flex: 0 1 30%;
}
.flex-25 {
    flex: 0 1 25%;
}
.flex-50 {
    flex: 0 1 50%;
}
.flex-60 {
    flex: 0 1 60%;
}
/* Header */
.header-container {
    max-width: 1200px;
    padding: 15px 32px;
    margin: 0 auto;
}
.header {
    background-color: #012D5B;
    color: white;
}
/* General stuff */
.generic-container {
    max-width: 1100px;
    padding: 15px 32px;
    margin: 0 auto;
}
.padding {
    padding: 100px 0;
}
h2 {
    text-align: center;
    font-size: 42px;
    font-weight: 800;
    /* margin-bottom: 70px */
}
h6 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 15px;
}
/* Location/Email */
.location,
.email {
    font-size: 11px;
    margin-right: 80px;
}
/* Social icons */
.buson {
    padding-bottom: 20px;
}
.social-icons a {
    color: white;
    margin-right: 19px;
    font-size: 11px;
}
/* Main navigation bar */
.main-nav a {
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 25px;
    font-size: 12px;
    font-weight: 600;
    color: #34567A;
}
.orange-button {
    background-color: #FD656A;
    font-size: 11.5px;
    color: white;
    border: 0;
    border-radius: 5px;
    outline: 0;
    padding: 15px 30px;
    text-transform: capitalize;
}
/* Hero section */
.hero {
    background-image: url(../media/hero/h1_hero.jpg);
    height: 75vh;
    background-size: cover;
}
.hero-content {
    position: relative;
    top: 150px;
    left: 200px;
    max-width: 500px;
}
.hero-content p {
    color: #FD656A;
    text-transform: uppercase;
    font-weight: 100;
}
.hero-content h1 {
    color: #012D5B;
    font-weight: 900;
    font-size: 44px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
/* Hero section (about) */
.about-strip {
    height: 220px;
    background: url(../media/hero/about_hero.jpg);
    background-size: cover;
}
.services-strip {
    height: 220px;
    background: url(../media/hero/services_hero.jpg);
    background-size: cover;
}
.case-strip {
    height: 220px;
    background: url(../media/hero/cases_hero.jpg);
    background-size: cover;
}
.contact-strip {
    height: 220px;
    background: url(../media/hero/contact_hero.jpg);
    background-size: cover;   
}
.blog-strip {
    height: 220px;
    background: url(../media/hero/blog_hero.jpg);
    background-size: cover;       
}
.article-content {
    padding-left: 15px;
}
.banner h1 {
    color: white;
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    padding-top: 70px;
}
/* Blog Aside section */
aside {
    padding-top: 60px;
}
.aside-container {
    background-color: #FBF9FF;
    margin-bottom: 30px;
}
.aside-padding {
    padding: 20px;
}
.search-bar {
    width: 100%;
    background-color: white;
    height: 30px;
    margin-bottom: 10px;
}
.search-bar span {
    padding-left: 10px;
    color: grey;
    font-size: 9px;
}
.search-btn {
    border: none;
    background-color: #EB6F6F;
    height: 100%;
}
.bottom-btn {
    width: 100%;
    border: 1px solid #EB6F6F;
    background-color: white;
    padding: 15px;
    text-transform: uppercase;
    color: #EB6F6F;
    font-size: 10px;
}
/* Category aside */
.heading-hr {
    margin-bottom: 30px;
}
.category hr {
    color: #F2EDFD;
    border: 0.5px solid;
}
.category p {
    color: #576473;
    font-size: 12px;
    margin: 15px 0;
}
/* Recent (blog section) */
.recent-items {
    margin-bottom: 18px;
}
.recent-header {
    font-size: 12px;
    font-weight: 600;
    width: 150px;
}
.recent time {
    font-size: 11.5px;
}
.recent img {
    margin-right: 20px;
}
/* Tags */
.tags {
    text-transform: lowercase;
    border: 1px solid black;
    font-size: 11px;
    padding: 5px 10px;
    margin-right: 9px;
    margin-bottom: 10px;
}
/* Instagram Feeds */
.feed-col-2-3 img{
    width: 30%;
    margin-bottom: 10px;
}
/* Location button */
.location-icons {
    padding-top: 50px;
    width: 30%;
    text-align: middle;
    margin: 0 auto;
}
.location-icons button {
    background-color: white;
    border: 1px solid grey;
    padding: 10px 13px;
    font-size: 11.5px;
}
.location-icons .two {
    background-color: #FBF9FF;
}
/* Case backgrounds */
.wrap {
    flex-wrap: wrap;
}
.case-collage {
    background-color: #F8FAFE;
}
.case-1 {
    background: url(../media/cases/completed_case_1.png) no-repeat;
    background-size: contain;
}
.case-2 {
    background: url(../media/cases/completed_case_2.png) no-repeat;
    background-size: contain;
}.case-3 {
    background: url(../media/cases/completed_case_3.png) no-repeat;
    background-size: contain;
}.case-4 {
    background: url(../media/cases/completed_case_4.png) no-repeat;
    background-size: contain;
}.case-5 {
    background: url(../media/cases/completed_case_5.png) no-repeat;
    background-size: contain;
}.case-6 {
    background: url(../media/cases/completed_case_6.png) no-repeat;
    background-size: contain;
}
.case-col-2-3 {
    flex: 0 1 30%;
    height: 400px;
    margin-bottom: 3%;
}
.case-content {
    position: relative;
    top: 299px;
    background-color: rgba(255, 255, 255);
    width: 80%;
    padding: 15px;
}
.case-content h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}
.case-content p {
    font-size: 12px;
}
/* Contact us map */
.map-container {
    max-width: 1100px;
    padding: 15px 32px;
    margin: 0 auto;
}
.map iframe {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}
.map h6 {
    font-size: 19px;
}
/* Contact info (beneath the map) */
.contact-info p {
    font-size: 12px;
    width: 200px;
}
.fa-home,
.fa-mobile-alt,
.fa-envelope {
    margin-right: 20px;
}
.info-item {
    margin-bottom: 20px;
}
.map textarea {
    width: 100%;
    font-size: 10px;
}
.map .touch-input {
    display: flex;
    flex: 0 1 47%;
    margin: 10px 0;
    padding: 8px;
    font-size: 10px;
}
.map .subject {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.map button {
    color: #FD656A;
    text-transform: uppercase;
    padding: 13px 30px;
    font-size: 12px;
    background-color: white;
    border: 1px solid #FD656A;
}
/* Blog section */
.blog {
    background-color: white;
}
.blog-container {
    max-width: 1100px;
    padding: 15px 32px;
    margin: 0 auto;
}
.blog-template {
    background-color: white;
}
.blog-template h2 {
    font-size: 18px;
    text-align: left;
    margin-top: 40px;
    font-weight: 600;
}
.blog-template p {
    font-size: 12px;
    line-height: 1.9;
}
.blog-template span {
    display: block;
    margin-top: 20px;
    font-size: 11.5px;
    color: #99999A;
    padding-bottom: 20px;
}
.date {
    display: inline-block;
    position: relative;
    top: 300px;
    left: 20px;
    display: block;
    height: auto;
    width: 70px;
    background-color: #EB6F6F;
    text-align: center;
    border-radius: 5px;
}
.date-content {
    padding: 5px;
    color: white;
}
.date-content strong {
    font-weight: 700;
    font-size: 22px;
}
/* What we do for you section */
.what-we-do {
    background-color: #F6F9FE;
}
.what-we-do img {
    width: 100%;
}
.plan-header {
    font-size: 20px;
    font-weight: 800;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: left;
}
.plan-col-1-3 {
    flex: 0 1 29%;
    margin: 0 31px;
}
.what-main {
    height: 340px;
    background-color: #FFFFFF;
    border: 5px solid #FD656A;
}
.what-main-content {
    padding: 35px;
}
.what-main-content h2 {
    font-size: 29px;
    font-weight: 700;
}
.what-we-do hr {
    width: 30%;
    border: 2px solid #FD656A;
    display: inline-block;
    text-align: right;
    margin: 20px 0;
}
.what-main-content p {
    font-size: 13px;
    margin-bottom: 20px;
}
/* Trust section */
.many-clients-content-about {
    height: 500px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0px;
    bottom: 940px;
    padding: 45px;
}
.many-clients-about {
    height: 500px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 740px;
    top: 450px;
}
.many-clients {
    height: 500px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 740px;
    top: 190vh;
    z-index: 3;
}
.many-clients-content {
    padding: 45px;
}
.many-clients h3 {
    font-size: 33px;
    font-weight: 600;
    margin: 20px 0;
}
.many-clients p {
    font-size: 13px;
    margin-bottom: 30px;
}
/* Services section */
.services h2 {
    text-align: center;
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 70px
}
.services-col-1-3 {
    flex: 0 1 30%;
    background-color: #f3f4f7;
    text-align: center;
    margin-bottom: 100px;
}
.services-content {
    padding: 35px;
}
.services-content i {
    font-size: 42px;
    padding-top: 40px;
    margin-bottom: 20px;
}
.services-content h3 {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 15px;
}
.services a {
    border: 2px solid #FD656A;
    color: #FD656A;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    margin-left: 45%;
    font-size: 11px;
}
/* Completed Cases */
.complete-case {
    background-color: #F7F9FE;
}
.complete-case h4 {
    font-size: 33px;
    font-weight: 750;
    margin-bottom: 15px;
}
.complete-case p {
    font-size: 12px;
    margin-bottom: 40px;
    line-height: 2.0;
}
.complete-case article {
    width: 550px;
    height: 400px;
}
.complete-case a {
    border: 2px solid #FD656A;
    color: #FD656A;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 11px;
}
.scroll-gallery {
    height: 400px;
    width: 800px;
    overflow: scroll;
    position: absolute;
    left: 760px;
    top: 2950px;
}
.scroll-gallery img {
    height: 100%;
    margin-left: 20px;
}
/* Testimonials */
.news h2 {
    padding-bottom: 70px;
}
.testimonial img {
    display: block;
    text-align: center;
}
.testimonial blockquote {
    width: 600px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.testimonial span {
    margin: auto;
    width: 100px;
    color: #F1BD5B;
    margin-bottom: 50px;
}
.testimonial p {
    margin: auto;
    width: 270px;
}
.fa-chevron-left {
    position: relative;
    right: 0px;
    top: 70px;
}
.fa-chevron-right {
    position: relative;
    left: 1000px;
    bottom: 70px;
}
.news-1-3 {
    flex: 0 1 30%;
    background-color: #FCFDFF;
    height: 350px;
}
.news-1-3 img {
    width: 100%;
}
.news-1-3 p {
    font-size: 12px;
    color: #EC898A;
    margin: 10px 0;
}
.news-1-3 h5 {
    font-size: 15px;
    font-weight: 600;
    width: 220px;
    margin-bottom: 10px;
}
.news-1-3 time {
    font-size: 11px;
    color: #BCC7D2;
    padding-bottom: 100px;
}
.news-content {
    padding-left: 20px;
}
/* Request for call back section */
.request {
    background-color: #0F2C58;
}
.call-back {
    color: white;
}
.input-form {
    background: transparent;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    box-shadow: none;
    border-radius: 5px;
    /* width: 90%; */
    flex: 0 1 48%;
}
.services-button {
    background: transparent;
    padding: 10px 20px;
    margin-top: 20px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    flex: 0 1 62%;
}
.send-btn {
    background-color: #FD656A;
    font-size: 11.5px;
    color: white;
    border: 0;
    border-radius: 5px;
    outline: 0;
    padding: 15px 20px;
    text-transform: capitalize; 
    margin-top: 20px;
    flex: 0 1 35%;
}
/* Footer */
.footer {
    background-color: #F7FAFE;
}
.footer .logo-desc {
    margin: 30px 0;
    font-size: 12px;
}
.footer-soc a {
    color: black;
}
.footer-soc li {
    margin-right: 10px;
}
.footer-heading {
    color: #112F5D;
    font-weight: 700;
}
.footer-list {
    margin-top: 16px;
    line-height: 2;
}
.footer-list a {
    text-decoration: none;
    color: #969BA4;
    font-size: 12px;
}
.footer-list li {
    text-decoration: none;
    color: #969BA4;
    font-size: 12px;
}
.footer img {
    width: 50%;
}
.footer hr  {
    border-top: 0.1px solid #DBE7FC;
    margin-top: 100px;
}
small {
    display: block;
    text-align: center;
    margin-top: 20px;
}
.footer strong {
    color: #EC9193;
}
